* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

.header {
    padding: 15px;
    /* border-bottom: 3px solid #32b9cd; */
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_logo {
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

h1 {
    margin-left: -50%;
    color: #ffffff;
    font-weight: 500;
}

ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
}

li {
    color: #ffffff;
}

li a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    height: fit-content;
    padding: 40px 0;
    background-size: cover;
}

.banner .container {
    background-image: url("../assents/estandarte.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.banner .container p {
    width: 100%;
    text-align: center;
}

.tamanho-conteudo {
    height: fit-content !important;
}

.banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

.seta {
    text-align: center;
    margin: 40px;
}

#id_seta:hover {
    cursor: pointer;
    -webkit-transform: scale(0.1);
    transform: scale(1.3);
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
}

.seta img {
    position: relative;
    height: 80px;
}

.social .container {
    height: 600px;
    background-color: red;
}

/* ------------------------------------------------------------------ */

/* FOOTER */

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: white;
    text-align: center;
}

.footer #p_footer {
    margin-top: 25px;
}