* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    background-color: #ffffff;
    margin-top: 20px 0px;
    display: flex;
    flex-direction: row;
}

/* --------------------------------------------------- */
/* MENU LATERAL */

.menulateral {
    background-color: #000000;
    padding: 10px;
    width: 190px;
    height: 95vh;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menulateral ul {
    width: 100%;
    margin-right: 100px;
    margin-left: 0px;
}

.menulateral ul li {
    text-decoration: none;
    list-style: none;
    margin: 5px;
    margin-left: -6vh;
    color: #fff;
    width: 100%;
    transition: all 0.8s;
}

.menulateral ul li a {
    text-decoration: none;
    color: #fff;
    width: 50px;
    display: flex;
    margin-left: 0px;
    cursor: pointer;
}

span {
    margin: 10px;
}

/* QUANDO MOUSE ESTIVER EM CIMA */
.menulateral ul li:hover {
    background: #fff;
    border-radius: 10px;
    color: #000000;
}

.menulateral ul li:hover a {
    color: #000000;
}

div #img_logo {
    display: flex;
    justify-items: flex-end;

}

/* ----------------------------------------------------- */

.banner {
    height: fit-content;
    /* padding: 200px 0; */
    background-size: cover;
}

.banner .container2 {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner .container2 .card {
    margin-top: 25vh;
    margin-right: 100px;
    background-color: #e5e5e5;
    margin-left: 100px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

/* -------------------------------------- */

.banner3 {
    height: fit-content;
    /* padding: 200px 0; */
    background-size: cover;
    margin-left: 100px;
}

.banner2 .container3 {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner2 .container3 .card {
    background-color: #e5e5e5;
    margin-top: 5vh;
    /* height: 700px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card h4 {
    font-size: 16px;
}

button {
    cursor: pointer;
}

/* --------------------- */
/* FORMULARIO */

.formulario .tipo_campo {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600 !important;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    border: 0;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 5px;
    color: white;
    background-color: #000000;
    width: 100px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----------------------- */
/* POS_BUTTOM */

.txt1 {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}

.txt2 {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    text-decoration: none;
}

#div_text {
    font-size: 16px;
    line-height: 1.5;
}